<ngb-carousel class="carousel">
  <ng-container *ngFor="let slide of slides">
    <ng-template ngbSlide>
      <img [src]="slide.image">
      <div class="carousel-caption">
        <h3>{{ slide.label }}</h3>
        <div class="description">
          <div class="description-text">&nbsp; {{ slide.description }} &nbsp;</div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</ngb-carousel>

<div class="content">
  <h1>Hi!</h1>
  <h4>I'm still working on this.</h4>
  <h4>Contact Info is in the navigation bar.</h4>
  <br>
  <h6>Here's a duck</h6>
  <img src="../../../assets/images/chicken-psyduck.png">
</div>