// Page elements
.content {
  padding-top: 64px;
}

@media (max-height: 400px) {
  .footer {
    display: none;
  }
}

// App style elements
$colors: (
  texty: #FFF,
  background: #333,
  pinky: lighten(hotpink, 10%),
  darky: #111,
  orangy: rgb(255, 166, 0),
  // Nested map
  transparenty: (
    darky: rgba(17, 17, 17, 0.5),
  )
);

// Retrieve color from $colors map ie. `color(base, primary)`
@function color($color-name, $color-variant:null) {
  // Color variant is optional
  @if ($color-variant != null) {
    // Map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}

::ng-deep * {
  :focus {
      outline: none;
  }
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
  cursor: pointer;
}