<section class="spotlight">
  <div class="container">
    <div class="row">
      <div class="grid-3">
        <img src="../../../assets/images/projects/infosupport.jpg">
      </div>
      <div class="grid-3">
        <h1>Info Support</h1>
        <p>Graduation Internship.</p>
        <p>I'm developing a Proof of Concept for realtime monitoring within a Distributed Software System</p>
        <a href="http://www.infosupport.com/" class="shiny">View Project</a>
      </div>
    </div>
  </div>
</section>