@import "../../app.component.scss";
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* General */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Oxygen";
}

.italic {
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

hr {
  border-top: 1px solid color(greyy);
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}
/* End General */

/* Header */
header {
  margin-bottom: 4em;
  text-align: center;
  height: 555px;

  .headshot {
    margin-top: 100px;
    width: height;
    height: 175px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 0px 40px -12px #000000bf;
    -moz-box-shadow: 15px 0px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 0px 40px -12px rgba(0, 0, 0, 0.75);
  }

  h1 {
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-top: 75px;
  }

  p {
    font-size: 1.5em;
  }

  h1,
  p {
    color: color(texty);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  }
}
/* End Header */

/* Section */
section {
  h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  ul li,
  ol li {
    margin-left: -10px;
    line-height: 1.8;
  }
}

.center {
  text-align: center;
}

.row {
  margin-right: margin-left;
  margin-left: -1%;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}
/* End Section */

/* Grid Widths */
.grid-1 {
  width: 16.6666666%;
}
.grid-2 {
  width: 33.3333333%;
}
.grid-3 {
  width: 50%;
}
.grid-4 {
  width: 66.6666666%;
}
.grid-5 {
  width: 83.3333333%;
}
.grid-6 {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    width: 90%;
  }
}
/* End Grid */

/* Education */
.education [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 2em;
  padding-bottom: 1em;

  h2 {
    margin-bottom: 0;
  }

  h2,
  p {
    text-align: center;
  }

  span {
    line-height: 2em;
  }

  &:last-of-type {
    border: none;
  }
}

@media screen and (min-width: 40em) {
  .education {
    h2,
    p {
      text-align: left;
    }
  }
}
/* End Education */

/* Objective */
.objective {
  line-height: 2;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .objective {
    width: 70%;
  }
}
/*End Objective */

/* Spotlight */
.spotlight {
  background-color: color(is-dark);
  padding: 3em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;

  img {
    width: 80%;
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 20px;
  }

  p {
    color: color(is-light);
    font-size: 1.1em;
    margin-bottom: 35px;
  }

  h1 {
    color: color(is-light);
    font-size: 2.5em;
  }

  a {
    color: color(texty);
    text-decoration: none;
    background-color: color(lighty, is-dark);
    border: 3px solid color(is-light);
    padding: 6px 35px;
    border-radius: 3px;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}

@media (min-width: 50em) {
  .spotlight {
    padding: 5em;
    text-align: left;
  }
}
/* End Spotlight */

/* Shiny */
.shiny {
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: color(transparenty, blacky);
    height: 100%;
    width: 3em;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
  }
  &:hover {
    &:before {
      transform: skewX(-45deg) translateX(15em);
      transition: all 0.5s ease-in-out;
    }
  }
}
/* End Shiny */
