<header style="background: url(../../../assets/images/mountain.jpg)">
  <img class="headshot" src="../../../assets/images/headshot.jpg">
  <h1>Silvan Otten</h1>
  <p>Software Developer</p>
</header>

<div class="container">
  <section class="center">
    <h1>Welcome!</h1>
    <p>
      I'm a fourth year student at the University of Windesheim, Zwolle.
      Currently developing my knowledge and experience within agile environments.
      I consider my greatest strengths to be my eagerness to learn new skills, pro-activity, and my ability
      to handle an everchanging environment with a positive mindset.
    </p>
  </section>
  <hr />

  <section class="objective">
    <h3>B.Sc. Information & Communication Technology from Windesheim, University of Applied Sciences.</h3>
    <h6 class="italic">Estimated July 2021</h6>
  </section>

  <hr />

  <div class="education-row" *ngFor="let education of educations;">
    <app-education-row [education]=education></app-education-row>
  </div>

  <hr />

</div>

<!-- <app-spotlight></app-spotlight> -->

<div class="container">
  <!-- <hr /> -->

  <section>
    <div class="row">
      <div class="grid-2">
        <h1>Languages</h1>
        <ul>
          <li>Angular</li>
          <li>TypeScript / JavaScript</li>
          <li>C# / .NET</li>
          <li>Linq / SQL / ExpressJS</li>
          <li>HTML / CSS</li>
        </ul>
      </div>

      <div class="grid-2">
        <h1>Methods</h1>
        <ul>
          <li>Scrum / Agile</li>
          <li>MVC</li>
          <li>Git</li>
          <li>Test Driven Development</li>
          <li>Story Mapping</li>
        </ul>
      </div>

      <div class="grid-2">
        <h1>Goals</h1>
        <ul>
          <li>Fullstack</li>
          <li>UI / UX</li>
          <li>Optimization</li>
          <li>Data Analyses</li>
          <li>Self-Improvement</li>
        </ul>
      </div>
    </div>
  </section>

  <hr />

</div>