@import "../../app.component.scss";
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* General */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Oxygen";
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

hr {
  border-top: 1px solid color(greyy);
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}
/* End General */

/* Header */
header {
  margin-bottom: 4em;
  text-align: center;
  height: 555px;

  .headshot {
    margin-top: 100px;
    width: height;
    height: 175px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 0px 40px -12px #000000bf;
    -moz-box-shadow: 15px 0px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 0px 40px -12px rgba(0, 0, 0, 0.75);
  }

  h1 {
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-top: 75px;
  }

  p {
    font-size: 1.5em;
  }

  h1,
  p {
    color: color(texty);
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  }
}
/* End Header */

/* Section */
section {
  h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  ul li,
  ol li {
    margin-left: -10px;
    line-height: 1.8;
  }
}

.center {
  text-align: center;
}

.row {
  margin-right: margin-left;
  margin-left: -1%;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}
/* End Section */

/* Objective */
.objective {
  line-height: 2;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .objective {
    width: 70%;
  }
}
/* End Objective */

/* Education */
.education-row {
  border-bottom: dotted 1px #ccc;

  &:last-of-type {
    border: none;
  }
}

/* End Education */
