@import "../../app.component.scss";

.projects {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

@media (max-width: 875px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 575px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .card {
    width: 60%;
  }
}